@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0:#205158;
    --cor1:#081a24;
    --cor2:#054e64;
    --cor3:#1d1d1d;
    --cor4:#727272;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}




