@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor0:#205158;
    --cor1:#081a24;
    --cor2:#003e51;
    --cor3:#1d1d1d;
    --cor4:#727272;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
}

header {
    min-height: 150px;
    width: 100%;
    height: 488px;
    background-repeat: no-repeat;
}

.paragrafo {
    background-color: var(--cor1);

}

.topo {
    max-width: ;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: white;
    margin-bottom: 30px;
}



